<title>Wiki Tour Guide</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/0308e41efc.js"></script>
<script src="/static/default_topics.js"></script>
<script src="/static/places.js"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">


<div class="container col-xs-12">
  <div class="row justify-content-start">

    <div class="col-xs-9">
      <h1 class="h1">Find interesting things</h1>
    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col-xs-8">
      <div class="md-form">
        <textarea id="topic-form" class="form-control noresize" rows="2" cols=50 placeholder="Make a comma seperated list of your favorite wikipedia page titles here"></textarea>
      </div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-3">
      <button class="search-button btn-lg">
      <i class="fas fa-search-location"></i> Nearby
      </button>
    </div>

  </div>
</div>

<div class="container col-xs-12">
  <div class="body list-group" id="output-vals"></div>
</div>